<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Страница для логирования</title>
    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <style>
        /* Дополнительные пользовательские стили */
        body {
            padding: 50px;
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="jumbotron">
            <h1 class="display-4">Привет, {{ name }}!</h1>
            <p class="lead">Это страница приветствия после входа в систему.</p>
            <hr class="my-4">
            <p>Вы можете выполнить выход, нажав на кнопку ниже.</p>
            <a class="btn btn-primary btn-lg" href="/logout" role="button">Выйти</a>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>